---
import { Image } from "astro:assets";

export interface Props {
  image?: string;
  url?: string;
  role?: string;
  company?: string;
  location?: string;
  sector: string;
  typeOfCommerce?: PositionTypeOfCommerce;
  startDate?: Date;
  endDate?: Date;
  responsibilities?: string[];
  keyAccomplishments?: string[];
}

export enum PositionTypeOfCommerce {
  B2B = "B2B",
  B2C = "B2C",
  C2C = "C2C",
  C2B = "C2B",
}

const {
  image,
  url,
  role,
  company,
  location,
  sector,
  typeOfCommerce,
  startDate,
  endDate,
  responsibilities,
  keyAccomplishments,
} = Astro.props;
---

<article class="position flex flex-col gap-5">
  <a
    class="icon__link"
    href={url}
    target="_blank"
    title={company}
    rel="noopener noreferrer"
  >
    {
      image && company && (
        <figure class="icon__figure">
          <Image
            class="icon__image"
            src={image}
            alt={company}
            width="64"
            height="64"
          />
        </figure>
      )
    }
  </a>

  <div class="body flex flex-col gap-3">
    <header class="header">
      <h3 class="title">
        {role}
        <span class="title__body"
          >at <a
            class="link"
            href={url}
            target="_blank"
            title={company}
            rel="noopener noreferrer">{company}</a
          >
        </span>
      </h3>
      <p>
        <time datetime={startDate?.toISOString()}>
          {
            startDate?.toLocaleDateString("en-US", {
              month: "long",
              year: "numeric",
            })
          }
        </time>
        -
        <time datetime={endDate?.toISOString()}>
          {
            endDate?.toLocaleDateString("en-US", {
              month: "long",
              year: "numeric",
            }) || "Present"
          }
        </time>
        <span class="company-info"
          >[{location}] [{sector}, {typeOfCommerce}]</span
        >
      </p>
    </header>

    <dl class="flex flex-col gap-3">
      <div class="data flex flex-col gap-1">
        <dt>Responsibilities</dt>
        <dd>
          <ul class="flex flex-col gap-1 list-disc list-inside">
            {
              responsibilities?.map((responsibility) => (
                <li>{responsibility}</li>
              ))
            }
          </ul>
        </dd>
      </div>
      <div class="data">
        <dt>Key Accomplishments</dt>
        <dd>
          <ul class="flex flex-col gap-1 list-disc list-inside">
            {
              keyAccomplishments?.map((accomplishment) => (
                <li>{accomplishment}</li>
              ))
            }
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</article>

<style>
  .position {
    @media print {
      display: grid;
      grid-template-columns: auto 1fr;
    }
    @media screen and (min-width: 27.1875rem) {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  .title__body,
  .company-info {
    color: var(--analogous--secondary-50);
  }

  .company-info {
    color: var(--analogous--secondary);
  }
</style>
