---
import { Image } from "astro:assets";

export interface Props {
  image?: string;
  url?: string;
  name?: string;
  isActive?: boolean;
  description?: string;
  highlights?: string[];
}

const { image, url, name, isActive, description, highlights } = Astro.props;
---

<article>
  {
    image && name && (
      <a href={url} target="_blank" title={name} rel="noopener noreferrer">
        <figure>
          <Image src={image} alt={name} width="64" height="64" />
        </figure>
      </a>
    )
  }

  <div class="body">
    <header>
      <h3>
        <a href={url} target="_blank" title={name} rel="noopener noreferrer"
          >{name}</a
        >
        <span
          aria-label={`Project status: ${isActive ? "Active" : "Inactive"}`}
        >
          ({isActive ? "Active" : "Inactive"})
        </span>
      </h3>

      <p>{description}</p>
    </header>
    <ul>
      {
        highlights?.map((highlight) => (
          <li>
            <p>{highlight}</p>
          </li>
        ))
      }
    </ul>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @media screen and (min-width: 27.1875rem) {
      display: grid;
      grid-template-columns: auto 1fr;
    }

    @media print {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  h3 span {
    opacity: 0.5;
    color: var(--analogous-primary);
    font-size: 1rem;
  }
</style>
