---
import { Image } from "astro:assets";

export interface Props {
  image?: string;
  url?: string;
  name?: string;
  isActive?: boolean;
  description?: string;
  highlights?: string[];
}

const { image, url, name, isActive, description, highlights } = Astro.props;
---

<article>
  <h3>
    <a href={url}>{name}</a>
  </h3>
  <p aria-label={`Project status: ${isActive ? "Active" : "Inactive"}`}>
    {isActive ? "Active" : "Inactive"}
  </p>
  <p>{description}</p>
  <ul>
    {
      highlights?.map((highlight) => (
        <li>
          <p>{highlight}</p>
        </li>
      ))
    }
  </ul>
  {
    image && name && (
      <figure>
        <Image src={image} alt={name} width="64" height="64" />
      </figure>
    )
  }
</article>
