---
import Icon from "../atoms/Icon.astro";
import Section from "../molecules/Section.astro";

interface Props {
  fullName?: string;
  headline?: string;
  image?: string;
  email?: string;
  phone?: string;
  url?: string;
  profiles?: BasisProfile[];
}

interface BasisProfile {
  url?: string;
  network?: string;
  username?: string;
}

const { fullName, headline, image, email, phone, profiles } = Astro.props;
---

<Section>
  <artcile class="host">
    <div class="body">
      <header class="information">
        <h1 class="name">{fullName}</h1>
        <p class="headline">{headline}</p>
      </header>

      <footer class="footer footer--print print">
        {
          [
            email?.trim(),
            phone?.trim(),
            ...(profiles || []).map(({ network, url }) => ({ network, url })),
          ]
            .filter(Boolean)
            .map((item, index, arr) => {
              const profile = typeof item === "string" ? item : item?.url;
              return (
                <>
                  {profile?.trim() === phone?.trim() ? (
                    <a
                      class="link profile profile--print"
                      href={`tel:${profile}`}
                      target="_blank"
                      title={`Llamar por teléfono a ${fullName} al número ${phone}`}
                      rel="noopener noreferrer"
                    >
                      {profile}
                    </a>
                  ) : (
                    <a
                      class="link profile profile--print"
                      href={profile}
                      target="_blank"
                      title={profile}
                      rel="noopener noreferrer"
                    >
                      {profile}
                    </a>
                  )}
                  {index < arr.length - 1 && <span class="separator" />}
                </>
              );
            })
        }
      </footer>
      <aside class="footer footer--no-print no-print">
        {
          email && (
            <a
              class="profile profile--no-print"
              href={`mailto:${email}`}
              target="_blank"
              title={`Enviar un correo electrónico a ${fullName} al correo ${email}`}
              rel="noopener noreferrer"
            >
              <Icon name="Mail" />
            </a>
          )
        }
        {
          phone && (
            <a
              class="profile profile--no-print"
              href={`tel:${phone}`}
              target="_blank"
              title={`Llamar por teléfono a ${fullName} al número ${phone}`}
              rel="noopener noreferrer"
            >
              <Icon name="Phone" />
            </a>
          )
        }
        {
          profiles &&
            profiles.map(({ network, url }) => {
              if (network) {
                return (
                  <a
                    class="profile profile--no-print"
                    href={url}
                    target="_blank"
                    title={`Visitar el perfil de ${fullName} en ${network}`}
                    rel="noopener noreferrer"
                  >
                    <Icon name={network} />
                  </a>
                );
              }
            })
        }
      </aside>
    </div>

    <figure class="picture no-print">
      {image && <img class="image" src={image} alt={fullName} width="112" />}
    </figure>
  </artcile>
</Section>

<style>
  .host {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.5rem;

    @media screen and (min-width: 27.1875rem) {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
    }
  }
  .information {
    display: flex;
    flex-direction: column;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .name {
    word-break: break-word;
  }

  .headline {
    font-size: 0.85rem;

    @media (min-width: 37.5rem) {
      font-size: 1rem;
    }
  }

  .footer {
    display: flex;
    gap: 0.5rem;

    &--print {
      justify-content: center;
      text-align: center;
      gap: 1.25rem;
    }

    &--no-print {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    font-size: 0.75rem;

    &:hover {
      color: var(--analogous--primary);
    }

    &--print {
      display: inline;
      padding: 0;
      color: var(--analogous--secondary-50);
    }
    &--no-print {
      display: inline;
    }
  }

  .separator {
    padding-inline: 1ch;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: var(--primary);
    border-radius: 1rem;
  }

  @media (min-width: 37.5rem) {
    .name {
      color: var(--primary);
      font-weight: bold;
      font-size: 2rem;
    }
  }
</style>
