---
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import X from "@/icons/X.astro";
import { type Icon } from "@/models/types/Icon";
import { getEntry } from "astro:content";
import Section from "../molecules/Section.astro";

const basis = await getEntry("basis", "data");

const SOCIAL_ICONS: Icon = {
  GitHub,
  LinkedIn,
  X,
};

const { name, headline, image, email, phone, profiles } = basis.data;
---

<Section>
  <div class="host">
    <div class="information">
      <div class="body">
        <h1 class="name">{name}</h1>
        <p class="headline">{headline}</p>
      </div>

      <footer class="footer footer--print print">
        {
          [
            email?.trim(),
            phone?.trim(),
            profiles?.find(({ network }) => network === "LinkedIn")?.url,
          ]
            .filter(Boolean)
            .map((profile, index, arr) => (
              <>
                {profile?.trim() === phone?.trim() ? (
                  <a
                    href={`tel:${profile}`}
                    class="link profile profile--print"
                  >
                    {profile}
                  </a>
                ) : (
                  <a href={profile} class="link profile profile--print">
                    {profile}
                  </a>
                )}
                {index < arr.length - 1 && <span class="separator" />}
              </>
            ))
        }
      </footer>
      <footer class="footer footer--no-print no-print">
        {
          email && (
            <a
              class="profile profile--no-print"
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              class="profile profile--no-print"
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles &&
            profiles.map(({ network, url }) => {
              let Icon;

              if (network) {
                Icon = SOCIAL_ICONS[network];
              }

              return (
                <a
                  class="profile profile--no-print"
                  href={url}
                  title={`Visitar el perfil de ${name} en ${network}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon />
                </a>
              );
            })
        }
      </footer>
    </div>

    <picture class="picture no-print">
      {image && <img class="image" src={image} alt={name} width="112" />}
    </picture>
  </div>
</Section>

<style>
  .host {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .information {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .body {
    display: flex;
    flex-direction: column;
  }
  .name {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.25rem;
  }

  .headline {
    font-size: 0.85rem;
  }

  .footer {
    display: flex;
    gap: 0.5rem;

    &--print {
      justify-content: center;
      text-align: center;
      gap: 2rem;
    }

    &--no-print {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;

    &--print {
      display: inline;
      padding: 0;
    }
    &--no-print {
      display: inline;
      font-size: 0.75rem;
    }
  }

  .separator {
    padding-inline: 1.5ch;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: var(--primary);
    border-radius: 1rem;
  }

  @media (min-width: 37.5rem) {
    .host {
      gap: 1rem;
    }
    .name {
      color: var(--primary);
      font-weight: bold;
      font-size: 2rem;
    }

    .headline {
      font-size: 1rem;
    }
  }
</style>
